<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>

    <div class="row">
    
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1>Parlons un peu !</h1>
                <% if (sentence) { %>
                <p id="previouslyAsked">>> <%= sentence %></p>
                <% } %>
    	        <% if (answer) { %>
                <p id="reply"><%= answer %></p>
                <% } %>
                <form action="/talking" method="POST">
    	            <label>Wanna chat a little ? </label>
    	            <input type="text" name="sentence"/> <br>
    	            <input type="submit"/>
    	        </form>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <% if (chatBot) { %>
                <h3>Vous parlez avec : </h3>
                <%= chatBot.id %>
                <strong><%= chatBot.name %></strong>
                <p>Vous pourriez aussi discuter avec : </p>
                <% } else { %>
                <h3>Vous devriez sélectionner un ami avec lequel discuter : </h3>
                <% } %>
                <ul>
    	        <% list.forEach(function(bot) { %>
                <li>
                   <%= bot.id %>
                   <strong><%= bot.name %></strong>
               </li>
               <% }); %>
            </div>
        </div>
        
    </div>
    
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
